body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

#uiBox {
  width: 100%;
  text-align: center;
  font-size: 2em;
  background-color: beige;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

#form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  margin: 5px;
}

.label {
  color: whitesmoke;
}

#btn {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

#btn:active {
  background-color: #06b;
}
